.footer {
  background-color: $lightBlue_color;
  .main_footer {
    padding: 50px 0 30px 0;
    color: $white;
  }

  .footer_logo {
    display: inline-block;
    background-color: $white;
    max-width: 60%;
    border-radius: 5px;
    padding: 15px;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  h1.md_heading {
    color: $white;
  }

  ul {
    li {
      line-height: 2;
    }
  }
}

// Socails
ul {
  padding: 0;

  &.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    li {
      a {
        display: inline-block;
        i {
          font-size: 22px;
        }
      }
    }
  }
}

// copyright
.footer {
  .copywrite {
    background-color: #10858d;
    padding: 15px 0 0 0;
    ul {
      text-align: center;
      color: $white;

      li {
        padding: 15px 0;
        line-height: 0;
      }
    }
  }
}
