$lightBlue_color: #41bdc5;
$lightYellow_color: #97bc2a;

$black1: #1a1a1a;
$black2: #222;
$black3: #333;
$black4: #666;
$slightly_dark: #f2f2f2;

$white: #fff;
$facebook: #4267b2;
$twitter: #55acee;
$messanger: #448aff;
$whatsapp: #25d366;
$shareNode: #25d366;

$happy: #c4f3ed;
$shock: #c4f8c9;
$energetic: #f4d1ff;
$sad: #fcfdb9;
$angry: #ffc5c5;

$border1: 1px solid #ccc;

$box-shadow1: 0 3px 10px #ccc;

$font1: "Mukta", sans-serif;
$font2: "Poppins", sans-serif;
